body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ant-popover-content {
  border-radius: 4px;
  overflow: hidden;
}

.ant-popover-arrow {
  display: none !important;
}
.header-menu-item .ant-popover-inner-content {
  padding: 8px !important;
  border-radius: 8px;
  max-height: 400px;
  overflow: hidden auto;
}

.header-menu-item .ant-popover-inner-content {
  padding: 8px !important;
  border-radius: 8px;
  max-height: 400px;
  overflow: hidden auto;
}

.uxo-popover {
  padding-top: 0 !important;
}

body, ul, ol, dl, dd, h1, h2, h3, h4, h5, h6, p, form, fieldset, legend, input, textarea, select, button, th, td {
  margin:0;
  padding:0;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  position: relative;
  width: 5px;
  height: 5px;
  background-color: #262531;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}
::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

:root {
  --theme-bg-color: rgba(16 18 27 / 40%);
  --border-color: rgba(113 119 144 / 25%);
  --theme-color: #f9fafb;
  --inactive-color: rgb(113 119 144 / 78%);
  --body-font: "Poppins", sans-serif;
  --hover-menu-bg: rgba(12 15 25 / 30%);
  --content-title-color: #999ba5;
  --content-bg: rgb(146 151 179 / 13%);
  --button-inactive: rgb(249 250 251 / 55%);
  --dropdown-bg: #21242d;
  --dropdown-hover: rgb(42 46 60);
  --popup-bg: rgb(22 25 37);
  --search-bg:  #14162b;
  --overlay-bg: rgba(36, 39, 59, 0.3);
  --scrollbar-bg: rgb(1 2 3 / 40%);
 }

::-webkit-scrollbar {
  width: 6px;
}
 
::-webkit-scrollbar-thumb {
  background: #bfbfbf;
}

.custom-wrap-classname__modal .ant-modal-header {
  padding: 0;
  background: #1890ff;
  color: #fff;
  font-size: 16px;
  text-align: left;
}

.custom-wrap-classname__modal .ant-modal-body {
  padding: 0;
}

.ant-tree.ant-tree-directory .ant-tree-treenode-selected:hover::before, .ant-tree.ant-tree-directory .ant-tree-treenode-selected::before {
  background-color: #3e3d3d !important
}
.ant-tree-treenode:hover::before {
  background-color: #333 !important;
}